{% extends 'events/base.html' %}
{% load staticfiles %}
{% load app_filters %}


		{% block content %}
		<!-- Start Banner Area -->
		<section class="about-banner relative">
			<div class="overlay overlay-bg"></div>
			<div class="container">				
				<div class="row d-flex align-items-center justify-content-center">
					<div class="about-content col-lg-12">
						<h1 class="text-white">
							Gallery		
						</h1>	
						<p class="text-white link-nav"><a href="/">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="/gallery"> Gallery</a></p>
					</div>	
				</div>
			</div>
		</section>
		<!-- End banner Area -->

		<!-- start number area -->
		<section class="section-gap"> 
			<div class="container">
				<h1 class="text-center">Hallelujah!</h1>
				<div class="col-md-8 col-md-offset-2 text-center" style="margin-left: 16.66666667%;">
					<div id="numbers">
						<div class="row">
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="900" data-speed="1500" id="one">0</span>+</h3>
									<p>Hours</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="750" data-speed="1500" id="two">0</span>+</h3>
									<p>Venues</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="50" data-speed="1500" id="three">0</span>+</h3>
									<p>Country</p>
								</div>
							</div>
							<div class="col-md-3 col-sm-3 col-xs-6">
								<div class="number">
									<h3><span class="counter" data-from="0" data-to="20" data-speed="1500" id="four">0</span>+</h3>
									<p>Speakers</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end number area -->

        <!-- Start videos 2 area Area -->
        <section class="menu-area section-gap" id="menu">
            <div class="container">
				<div class="row d-flex justify-content-center">
					<div class="menu-content pb-70 col-lg-8">
						<div class="title text-center">
							<h1 class="mb-10">All Performances</h1>
							<p>Who are in extremely love with eco friendly system.</p>
						</div>
					</div>
				</div>	

                <ul class="filter-wrap filters col-lg-12 no-padding">
                    <li class="active" data-filter="*">All Videos</li>
                    <li data-filter=".solo">Solo</li>
                    <li data-filter=".duet">Duet</li>
                    <li data-filter=".group">Group</li>
                </ul>
                
                <div class="filters-content">
                    <div class="row grid">
                        <div class="col-md-6 all solo">
							<div class="single-menu">
								<div class="title-wrap d-flex justify-content-between">
									<h4>Cappuccion</h4>
									<div class="g-ytsubscribe" data-channelid="UCyMqxpQszz-Bl1-z1IyEeRA" data-layout="default" data-count="hidden"></div>
								</div>
								<div class="title-wrap d-flex justify-content-between">
									<iframe width="490" height="353" src="https://www.youtube.com/embed/FCWrQ6ch97s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>			
								</div>
								<p style="max-width: 100%">
									1. Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>									
							</div>					                               
                        </div> 
                        <div class="col-md-6 all solo">
							<div class="single-menu">
								<div class="title-wrap d-flex justify-content-between">
									<h4>Cappuccion</h4>
									<div class="g-ytsubscribe" data-channelid="UCyMqxpQszz-Bl1-z1IyEeRA" data-layout="default" data-count="hidden"></div>
								</div>
								<div class="title-wrap d-flex justify-content-between">
									<iframe width="490" height="353" src="https://www.youtube.com/embed/FCWrQ6ch97s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>			
								</div>
								<p style="max-width: 100%">
									1. Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>									
							</div>					                               
                        </div>                          
                        <div class="col-md-6 all duet">
							<div class="single-menu">
								<div class="title-wrap d-flex justify-content-between">
									<h4>Cappuccion</h4>
									<div class="g-ytsubscribe" data-channelid="UCyMqxpQszz-Bl1-z1IyEeRA" data-layout="default" data-count="hidden"></div>
								</div>
								<div class="title-wrap d-flex justify-content-between">
									<iframe width="490" height="353" src="https://www.youtube.com/embed/FCWrQ6ch97s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>			
								</div>
								<p style="max-width: 100%">
									1. Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
								</p>									
							</div>
                        </div>
                        <div class="col-md-6 all duet">
							<div class="single-menu">
								<div class="title-wrap d-flex justify-content-between">
									<h4>Macchiato</h4>
									<h4 class="price">$49</h4>
								</div>			
								<p>
									Usage of the Internet is becoming more common due to rapid advance.
								</p>									
							</div>
                        </div>                      
                    </div>
                </div>
                
            </div>
        </section>
        <!-- End videos2-area Area -->
        {% endblock %}

        {% block countTo %}
	        <script>
	        	function counter(){
		        	var one = $("#one").attr("data-to");
		        	var two = $("#two").attr("data-to");
		        	var three = $("#three").attr("data-to");
		        	var four = $("#four").attr("data-to");
		        	var data_speed = $("#one").attr("data-speed");

					var max = Math.max(one, two, three, four);
		        	for(i=0; i<=max; i++){
		        		
		       //  		setTimeout(function () { 
					    //   console.log("waiting...");
					   	// }, 1500);
		        		
		        		if(one >= i){
		        			$("#one").text(i);
		        		}
		        		if(two >= i){
		        			$("#two").text(i);
		        		}
		        		if(three >= i){
		        			$("#three").text(i);
		        		}
		        		if(four >= i){
		        			$("#four").text(i);
		        		}
		        	}
		        }
		        counter();
	        </script>
        {% endblock %}
